In [21]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [22]:
mail=pd.read_csv('spam.csv', encoding="ISO-8859-1")

In [23]:
mail.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [24]:
mail.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [25]:
mail=mail.where((pd.notnull(mail)),'')

In [26]:
mail.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [27]:
mail.shape

(5572, 5)

In [28]:
mail.loc[mail['v1']=='spam','v1',]=0
mail.loc[mail['v1']=='ham','v1',]=1

In [29]:
X=mail['v2']
Y=mail['v1']

In [30]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [31]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [32]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=1)

In [33]:
print(X_train)

4998                           Hmph. Go head, big baller.
3983    Hey, I missed you tm of last night as my phone...
3948    HMM yeah if your not too grooved out! And im l...
1552                                             U too...
1620    Fuck babe, I miss you sooooo much !! I wish yo...
                              ...
905     Hey what's up charles sorry about the late reply.
5192    Oh oh... Den muz change plan liao... Go back h...
3980    Huh i cant thk of more oredi how many pages do...
235     I have printed it oh. So  &lt;#&gt;  come upst...
5157                              K k:) sms chat with me.
Name: v2, Length: 4736, dtype: object

In [34]:
tfid=TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')

In [35]:
feature=tfid.fit_transform(X_train)

In [36]:
testfeature=tfid.transform(X_test)

In [37]:
Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [38]:
print(feature)

  (0, 1216)	0.5726300028760624
  (0, 1347)	0.391596332016965
  (0, 3389)	0.4368547497317393
  (0, 3477)	0.5726300028760624
  (1, 6145)	0.3869450989718151
  (1, 3022)	0.2776071343202935
  (1, 4464)	0.2857404506381387
  (1, 6280)	0.3869450989718151
  (1, 1738)	0.32383475306511317
  (1, 5208)	0.24084902260500374
  (1, 4813)	0.24399492158955946
  (1, 6946)	0.3979391614366177
  (1, 4548)	0.3186437444805322
  (1, 3442)	0.24399492158955946
  (2, 6389)	0.3059290447308546
  (2, 5360)	0.39476714069451735
  (2, 2982)	0.3877547609023413
  (2, 4237)	0.32791755120281957
  (2, 3636)	0.27693725115837337
  (2, 3271)	0.4605557882327452
  (2, 7673)	0.2695285310656526
  (2, 3474)	0.36225839537049626
  (4, 4262)	0.19998775566942056
  (4, 2468)	0.3173405227676119
  (4, 4229)	0.3527545525690613
  :	:
  (4731, 1742)	0.6427759791125781
  (4731, 5740)	0.3619081693112063
  (4731, 6355)	0.35740548419960294
  (4731, 4062)	0.42813112027269007
  (4731, 3442)	0.380560877363631
  (4732, 3851)	0.37618808451587066
  (4732, 7664)	0.37618808451587066
  (4732, 4701)	0.35113835212125805
  (4732, 2258)	0.3024315332836425
  (4732, 1728)	0.31475542402532075
  (4732, 4942)	0.4804532180239286
  (4732, 4128)	0.2897056916307082
  (4732, 5255)	0.2972648920671556
  (4733, 5073)	0.5825586332394489
  (4733, 3566)	0.47407430437352094
  (4733, 6881)	0.4112642188316788
  (4733, 5011)	0.5164694909476419
  (4734, 7207)	0.5860846430528751
  (4734, 5433)	0.5589881157231138
  (4734, 4942)	0.32737901858991253
  (4734, 1913)	0.2868720180156277
  (4734, 3284)	0.2783291363335642
  (4734, 4284)	0.27766417304446384
  (4735, 1749)	0.7098299758263376
  (4735, 6290)	0.7043730584132113

In [39]:
logistic= LogisticRegression()

In [40]:
logistic.fit(feature,Y_train)

LogisticRegression()